<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TweetMap-Server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>getTweets</display-name>
    <servlet-name>getTweets</servlet-name>
    <servlet-class>getTweets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTweets</servlet-name>
    <url-pattern>/getTweets</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>TweetFetcher</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>handleSns</display-name>
    <servlet-name>handleSns</servlet-name>
    <servlet-class>handleSns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleSns</servlet-name>
    <url-pattern>/handleSns</url-pattern>
  </servlet-mapping>
</web-app>